*.code-workspace
*.DS_Store
/.env
/venv
/fsc22_data
/fsd50k_data
/pretrained_models
/baseline/data/
/baseline/logs/
/transfer_learning/logs
__pycache__
/baseline/tmp
/baseline/utils/beats/BEATs_iter3_plus_AS2M.pt